@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
/*   background-image: url('/assets/vineyard.jpg');
background-repeat: repeat-x; */
  background-color: #4E000C;
  font-family: PT Sans;
}

#map {
  height: 47em;
  width: 62em;
}

#detailMap {
  height: 25em;
  width: 25em;
}

.vinyard {
  min-height: 25em;
  background-color: #980118;
  color: white;
}

#new {
  color: #980118;
}

#nav {
  background-color: #980118;
}

.list{
  background-color: rgba(255, 255, 255, .75);
  padding: 15px;
  border-radius: 30px;
}
#header{
  font-weight: bold;
}
#icon{
  height: 40px;
  width: 40px;
}

.nav {
  color: #980118;
}
#table {
  max-height: 50em;
  border-color: #980118;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 10px;
  overflow: scroll;
  margin: 10px;
}
#vinyardHeading{
  background-color: #980118;
}
#vineyardTitle > h2, h3, h4, h5 {
  color: white;
}
#vinyardName{
  color: white;
  font-weight: bold;
}
#logo {
  height: 10em;
  width: 10em;
  margin-left: 10px;
}
#rating {
  min-height: 30px;
  width: 50px;
}

.button {
  border-radius: 15px;
  background-color: #B7132D;
}
#bio {
  text-align: center;
  background-color: rgba(255, 255, 255, .90);
  padding: 15px;
  border-radius: 30px;
  color: black;
  width: 37em;
}
#bioImg {
  height: 40em;
  width: auto;
}

.bio {
  color: black;
}

#hero {
  text-align: center;
  font-weight: bold;
  color: black;
}

.hero {
  font-weight: bold;
  color: white;
}
.contact-container {
  background-image: url('/assets/vineyard.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  .contact-wrap {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.no-padding{
  padding: 0;
}
.navbar {
  margin: 0;
}
 table {
   border: 2px soild #980118;
 }

.map {
  border-radius: 10px;
}
