#map {
  height: 47em;
  width: 62em;
}

#detailMap {
  height: 30em;
  width: 30em;
}

#vinyard {
  height: 30em;
}
body {
  background-image: url(/assets/vineyard.jpg);
  width: 100%;
  background-repeat: repeat-x;
}
