#map {
  height: 47em;
  width: 62em;
}

#detailMap {
  height: 30em;
  width: 30em;
}

#vinyard {
  min-height: 25em;
}
body {
/*   background-image: url(/assets/vineyard.jpg);
width: 100%;
background-repeat: repeat-x; */
  background-color: #07123a;
}

#new {
  color: #7A86AD;
}

#nav {
  background-color: #172256;
  color: #505F90;
}

.list{
  color: #7A86AD;
}
#header{
  font-weight: bold;
}
#icon{
  height: 40px;
  width: 40px;
}

.nav {
  color: #505F90;
}
#table {
  min-height: 50em;
}
