.row
  .container-fluid.contact-container.no-padding
    .container-fluid.contact-wrap.no-padding
      .col-xs-12.col-md-4.col-md-offset-4
        div#bio
          h3.bio Dick Armstrong-Stoner
          img#bioImg(src='/assets/Dick-Armstrong-Stoner copy.jpeg')
          h4: a(target='_blank', href='https://www.linkedin.com/in/dickarmstrongstoner'): i.fa.fa.fa-linkedin-square &nbsp; https://www.linkedin.com/in/dickarmstrongstoner
          h4: a(target='_blank', href='https://angel.co/dick-armstrong-stoner'): i.fa.fa.fa-angellist &nbsp; https://angel.co/dick-armstrong-stoner
          h4: a(target='_blank', href='https://twitter.com/rljarm'): i.fa.fa.fa-twitter &nbsp; https://twitter.com/rljarm
          h4: a(href='mailto:rljarm@amail.com'): i.fa.fa.fa-envelope-o &nbsp; rljarm@gmail.com
