nav.navbar.navbar-inverse(ng-controller='NavCtrl')
  .container-fluid#nav
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.nav(href='/')  Pick Your Vine
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-show='activeUser')
        li.nav: a.nav(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
        li.nav: a.nav(ui-sref='vineyards.new'): i.fa.fa.fa-home &nbsp; New Vineyard
        li.nav: a.nav(ui-sref='vineyards.list'): i.fa.fa.fa-home &nbsp; Vineyards
        li.nav: a.nav(ui-sref='hotels.new'): i.fa.fa.fa-home &nbsp; New Hotel
        li.nav: a.nav(ui-sref='hotels.list'): i.fa.fa.fa-home &nbsp; Hotels
        li.nav: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
        li.nav: a(ui-sref='contact'): i.fa.fa.fa-phone &nbsp; Contact
        li.nav: button.btn.btn-danger.btn-lg(ng-click='logout()'): i.fa.fa-sign-out &nbsp; {{displayName}}
      ul.nav.navbar-nav.navbar-right(ng-hide='activeUser')
        li.nav: a.nav(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
        li.nav: a.nav(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
        li.nav: a.nav(ui-sref='contact'): i.fa.fa.fa-phone &nbsp; Contact
