.container#list
  h3.text-center Vineyards
  .row
    .col-sm-12
      .table-responsive
        table.table.table-hover
          thead
            tr
              th(ng-click='sort("firstName")') Name
              th(ng-click='sort("company")') Region
              th(ng-if='', ng-click='sort("role")') Distance
              th Edit
              th Delete
          tbody
            tr(ng-repeat='vineyard in vineyards | orderBy : sortColumn : sortReverse')
              td(ng-click='vineyardGo(vineyard)') {{vineyard.name}}
              td(ng-click='vineyardGo(vineyard)') {{vineyard.region}}
              td(ng-click='vineyardGo(vineyard)', ng-if='') {{vineyard.distance}}
              td: button.btn.btn-sm.btn-warning(ng-click='editVineyard(vineyard)') Edit
              td: button.btn.btn-sm.btn-danger(ng-click='deleteVineyard(vineyard)') Delete
              
  .row
    .col-xs-1
      button.btn.btn-info(ng-show='moveBack', ng-click='changePage("prev")') Prev
    .col-xs-10
    .col-xs-1
      button.btn.btn-info(ng-show='moveForward', ng-click='changePage("next")') Next
