.row
  .col-xs-4
    .panel
      .panel-default
        .panel-heading
          .panel-title
            h3 {{hotel.name}}
            h4(ng-if='') Distance: {{}}
            .panel-body
              h4 {{hotel.region}}
              h5 {{hotel.addrString}}
              h5 {{hotel.phone}}
              h5 {{hotel.website}}
